{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h3 align="center">List of posts</h3>
    <br>
    <ul class="list-group list-group-flush" id="posts">
        {% for post in user.posts %}
            <li class="list-group-item">{{ post.data }}<br>
                <sub>{{ post.date }}</sub>
                <button type="button" class="close" onclick="deletePost({{ post.id }})">
                    <span aria-hidden="true">&times;</span>
                </button> 
            </li>    
        {% endfor %}
    </ul>
    <form method="POST">
        <textarea name="post" id="post" class="form-control"></textarea>
        <br>
        <div align="center">
            <button type="submit" class="btn btn-primary">Add post</button>
        </div>
    </form>
{% endblock %}